<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <title>criação</title>
</head>
<body>
    {% include "header.html" %}
    <div class="auth-container">
        <div class="auth-card">
            <form action="{{ url_for('criar_campanha') }}" method="POST">
                <div class="field">
                    <input type="text" name="titulo" placeholder="titulo" required><br><br>
                </div>
                <div class="field">
                    <input type="url" name="imagem" placeholder="url da imagem" required><br><br>
                </div>
                <div class="field">
                    <input type="text" name="descricao" placeholder="resuma sua campanha" required><br><br>
                </div>
                <div class="field">
                    <input type="text" name="descricao_avancada" placeholder="descreva sobre a sua campanha" required><br><br>
                </div>
                <div class="field">
                    <button type="submit"; class="botao-login">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>